flows.json
[
    {
        "id": "1c98837a.45e8fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96abd8ea.58e0a8",
        "type": "http in",
        "z": "1c98837a.45e8fd",
        "name": "",
        "url": "/signing",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "517c7b0b.8a65e4"
            ]
        ]
    },
    {
        "id": "517c7b0b.8a65e4",
        "type": "template",
        "z": "1c98837a.45e8fd",
        "name": "Create Claims",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"client_id\": \"{{payload.clientID}}\", \"auth_groups\": \"clients;pubs;subs;sys-monitor\" }",
        "output": "json",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "53acff29.a2d16"
            ]
        ]
    },
    {
        "id": "53acff29.a2d16",
        "type": "jwt sign",
        "z": "1c98837a.45e8fd",
        "name": "",
        "alg": "RS256",
        "exp": "31536000s",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "",
        "key": "/data/jwtRS256.key",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "8cdd831c.8d2f"
            ]
        ]
    },
    {
        "id": "8cdd831c.8d2f",
        "type": "http response",
        "z": "1c98837a.45e8fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 280,
        "wires": []
    }
]
